SERVICE_NAME=api-gateway
PORT=4000

# Downstream Services
AUTH_SERVICE_URL=http://localhost:4001
REGISTRATION_SERVICE_URL=http://localhost:4003
FORM_SERVICE_URL=http://localhost:4002
ONBOARDING_SERVICE_URL=http://localhost:4004
CLIENT_SERVICE_URL=http://localhost:4006
DASHBOARD_SERVICE_URL=http://localhost:4007
ENQUIRY_SERVICE_URL=http://localhost:4008

# Redis Cache & Rate Limiting
REDIS_ENABLED=false
REDIS_URL=redis://localhost:6379
